.alg {
    position: relative;
    margin-left: 100px;
    left: -200px;
}
.alg>div{
    width:180px;
    height:30px;
}
.m-accordion__item{
    width:700px;
    margin-top:25px;
    margin-left:100px;
}
.col-md-7{
    margin-top:20px;
}
#m_accordion_1_item_1_body{
    width:1200px;
}
#m_accordion_1_item_1_body>div{
    float:left;
}
.m-form__group{
    margin-top:20px;
}
.alg-label {
    margin-left: 27px;
    margin-bottom:20px;
}
.m-checkbox-list {
    float: left;
}
.m-demo-icon__preview{
    float:right;
}
.m-accordion__item-title{
    float:right;
    margin-right:5px;
}
#m_accordion_1_item_1_head {
    width: 649px;
    background-color: darkgrey;
    height: 20px;
    padding-right: 315px;
    margin-left: -60px;
}
.m-portlet__body.row {
    margin-left: 400px;
}
#first-button{
    float: right;
    margin-top: -45px;
}
.m-dropdown {
    float: right;
    margin-top: -34px;
}
.Chinese{
    text-align: center;
}
.English{
    text-align: center;
}
