<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">
<!-- begin::Head -->
<head>
    <title>
        欢迎登陆西湖大学PECS分析平台
    </title>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body>
<div class="m-content" layout:fragment="content">

    <div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>

    <div class="row">
        <div class="col-md-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide"><i class="la la-gear"></i></span>
                            <h3 class="m-portlet__head-text">创建一个项目</h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" th:action="@{/project/add}" th:method="post">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group m--margin-top-10">
                            <div class="alert m-alert m-alert--default" role="alert">
                                请填写项目的相关信息
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="name" class="col-4 col-form-label">
                                必填,项目名称
                            </label>
                            <div class="col-8">
                                <input type="text" class="form-control m-input" id="name"
                                       placeholder="Enter Project Name" name="name" th:value="${project?.name}">
                                <span class="m-form__help">项目名称全局唯一</span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="repository" class="col-4 col-form-label">
                                必填,项目仓库路径(用以存放Aird,Airc等平台专用类型的文件,请注意:本字段一旦创建无法修改)
                            </label>
                            <div class="col-8">
                                <input type="text" class="form-control m-input" id="repository" name="repository"
                                       placeholder="repository" th:value="${project?.repository}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="ownerName" class="col-4 col-form-label">
                                必填,项目负责人
                            </label>
                            <div class="col-8">
                                <input type="text" class="form-control m-input" id="ownerName" name="ownerName" th:value="${project?.ownerName}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="description" class="col-4 col-form-label">
                                详细描述
                            </label>
                            <div class="col-8">
                            <textarea class="form-control m-input" id="description" name="description"
                                      rows="3" th:value="${project?.description}"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="submit" class="btn btn-primary">
                                提交
                            </button>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>

</div>


</body>

<!-- end::Body -->
</html>
