<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<!-- begin::Head -->
<head>
    <title th:text="#{title_welcome_to_propro}"></title>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body>

<div class="m-content" layout:fragment="content">

    <!--<div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>-->
    <!--<div th:if="${errorList}" th:each="arrayS:${errorList}">-->
        <!--<div class="alert alert-danger" role="alert" th:text="${arrayS}"></div>-->
    <!--</div>-->

    <!--<div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>-->
    <div class="row">
        <div class="col-md-12">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text" th:text="#{label_operation_panel}"></h3>
                        </div>
                        <div class="m-form__actions" id="first-button">
                            <button type="submit" class="btn btn-primary">开始卷积</button>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" action="/project/doextract">
                    <div class="m-portlet__body row">
                        <input type="text" name="id" hidden="hidden" value="5d1b438115fee25b9170e059">
                        <div class="col-md-7">
                            <div class="form-group m-form__group row">
                                <label for="name" class="col-2 col-form-label">项目名称</label>
                                <div class="col-10">
                                    <input type="text" class="form-control m-input" id="name" readonly="" name="name" value="SGS(5d1b438115fee25b9170e059)">
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="iRtLibraryId" class="col-2 col-form-label">iRT校准库</label>
                                <div class="col-10">
                                    <select class="form-control m-input" id="iRtLibraryId" name="iRtLibraryId">
                                        <option value="">不执行iRT</option>
                                        <option value="5d1b453315fee25b9170e0e6">irt_sgs(5d1b453315fee25b9170e0e6)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="library" class="col-2 col-form-label">标准库</label>
                                <div class="col-10">
                                    <select class="form-control m-input" id="library" name="libraryId">
                                        <option value="5d1b481915fee25b9170e116">sgs-lib(5d1b481915fee25b9170e116)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="m-accordion__item">
                            <div class="collapsed" role="button" id="m_accordion_1_item_1_head" data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded="false">
                                <div class="m-demo-icon__preview">
                                    <i class="fa fa-chevron-down" id="icon"></i>
                                </div>
                            <span class="m-accordion__item-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">高级选项</font></font></span>
                            <span class="m-accordion__item-mode"></span>
                        </div>
                            <div class="m-accordion__item-body collapse" id="m_accordion_1_item_1_body" role="tabpanel" aria-labelledby="m_accordion_1_item_1_head" data-parent="#m_accordion_1" style="">
                                <div class="col-md-7">
                                    <div class="form-group m-form__group row">
                                        <label for="rtExtractWindow" class="col-2 col-form-label">RT卷积窗口</label>
                                        <div class="col-10">
                                            <input type="text" class="form-control m-input" id="rtExtractWindow" name="rtExtractWindow" value="">
                                            <span class="m-form__help">默认RT卷积窗口为600</span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                    <label for="mzExtractWindow" class="col-2 col-form-label">MZ卷积窗口</label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="mzExtractWindow" name="mzExtractWindow" value="">
                                        <span class="m-form__help">默认的mz卷积窗口为0.05</span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="note" class="col-2 col-form-label">备忘录</label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="note" name="note" value="">
                                        <span class="m-form__help"></span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="mzExtractWindow" class="col-2 col-form-label">实验数(2)</label>
                                    <div class="col-10 row">
                                        <label class="col-3 col-form-label">napedro_L120224_010_SW(5d1b438515fee25b9170e05b)</label><label class="col-3 col-form-label">napedro_L120225_010_SW(5d1b438515fee25b9170e05c)</label>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-7">
                                    <div class="form-group m-form__group row">
                                        <label for="sigma" class="col-2 col-form-label">请设定Sigma</label>
                                        <div class="col-10">
                                            <input type="text" class="form-control m-input" id="sigma" name="sigma" value="">
                                            <span class="m-form__help">默认Sigma值为3.75</span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="spacing" class="col-2 col-form-label">默认Spacing值为0.01</label>
                                        <div class="col-10">
                                            <input type="text" class="form-control m-input" id="spacing" name="spacing" value="">
                                            <span class="m-form__help">默认Spacing值为0.01</span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="shapeScoreThreshold" class="col-2 col-form-label">Shape打分阈值</label>
                                        <div class="col-10">
                                            <input type="text" class="form-control m-input" id="shapeScoreThreshold" name="shapeScoreThreshold" value="">
                                            <span class="m-form__help">默认的Shape阈值为0.5</span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="shapeWeightScoreThreshold" class="col-2 col-form-label">ShapeWeight打分阈值</label>
                                        <div class="col-10">
                                            <input type="text" class="form-control m-input" id="shapeWeightScoreThreshold" name="shapeWeightScoreThreshold" value="">
                                            <span class="m-form__help">默认的ShapeWeight阈值为0.6</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-form__group form-group row">
                                <label class="alg-label">选择特征打分算法</label>
                                <div class="alg">
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="BseriesScore" checked="checked">BseriesScore

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">

                                            <input type="checkbox" name="ElutionModelFitScore">ElutionModelFitScore
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="IntensityScore" checked="checked">IntensityScore

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="IsotopeCorrelationScore" checked="checked">IsotopeCorrelationScore

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="IsotopeOverlapScore" checked="checked">IsotopeOverlapScore

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="LibraryCorr" checked="checked">LibraryCorr

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="LibraryRsmd" checked="checked">LibraryRsmd

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="LogSnScore" checked="checked">LogSnScore

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="MassdevScore" checked="checked">MassdevScore

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="MassdevScoreWeighted" checked="checked">MassdevScoreWeighted

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="NormRtScore" checked="checked">NormRtScore

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="XcorrCoelution" checked="checked">XcorrCoelution

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="XcorrCoelutionWeighted" checked="checked">XcorrCoelutionWeighted

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="XcorrShape" checked="checked">XcorrShape

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="XcorrShapeWeighted" checked="checked">XcorrShapeWeighted

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="LibraryDotprod" checked="checked">LibraryDotprod

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="LibraryManhattan" checked="checked">LibraryManhattan

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="LibrarySangle" checked="checked">LibrarySangle

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="LibraryRootmeansquare" checked="checked">LibraryRootmeansquare

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">

                                            <input type="checkbox" name="ManhattScore">ManhattScore
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">
                                            <input type="checkbox" name="YseriesScore" checked="checked">YseriesScore

                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="m-checkbox-list">
                                        <label class="m-checkbox m-checkbox--state-success">

                                            <input type="checkbox" name="IntensityTotalScore">IntensityTotalScore
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="submit" class="btn btn-primary">开始卷积</button>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>

</div>
</body>
<!-- end::Body -->
</html>
