<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">
<!-- begin::Head -->
<head>
    <title>欢迎登陆西湖大学PECS分析平台</title>
</head>
<!-- end::Head -->
<body>
    <div class="m-content" layout:fragment="content">
        <div class="m-portlet__body">
            <div>
                <table class="table table-bordered table-hover" style="table-layout:fixed;">
                    <thead>
                    <tr>
                        <th width="20%">
                            名称
                        </th>
                        <th width="10%">
                            类型
                        </th>
                        <th width="70%">
                            描述
                        </th>
                    </tr>
                </thead>
                    <tbody>
                    <tr>
                        <td>transition_group_id</td>
                        <td>String</td>
                        <td>A unique id for the transition group (all chromatographic traces that are analyzed together)</td>
                    </tr>
                    <tr>
                        <td>peptide_group_label</td>
                        <td>String</td>
                        <td>A unique id for the peptide group (will be the same for each charge state and heavy/light status)</td>
                    </tr>
                    <tr>
                        <td>run_id</td>
                        <td>String</td>
                        <td>An identifier for the run (currently always 0)</td>
                    </tr>
                    <tr>
                        <td>filename</td>
                        <td>String</td>
                        <td>The input filename</td>
                    </tr>
                    <tr>
                        <td>RT</td>
                        <td>Float</td>
                        <td>Peak group retention time</td>
                    </tr>
                    <tr>
                        <td>id</td>
                        <td>String</td>
                        <td>A unique identifier for the peak group</td>
                    </tr>
                    <tr>
                        <td>Sequence</td>
                        <td>String</td>
                        <td>Peptide sequence (no modifications)</td>
                    </tr>
                    <tr>
                        <td>FullPeptideName</td>
                        <td>String</td>
                        <td>Full peptide sequence including modifications in Unimod format</td>
                    </tr>
                    <tr>
                        <td>Charge</td>
                        <td>Int</td>
                        <td>Assumed charge state</td>
                    </tr>
                    <tr>
                        <td>m/z</td>
                        <td>Float</td>
                        <td>Precursor m/z</td>
                    </tr>
                    <tr>
                        <td>Intensity</td>
                        <td>Float</td>
                        <td>Peak group intensity (sum of all transitions)</td>
                    </tr>
                    <tr>
                        <td>ProteinName</td>
                        <td>String</td>
                        <td>Name of the associated protein</td>
                    </tr>
                    <tr>
                        <td>decoy</td>
                        <td>String</td>
                        <td>Whether the transition is decoy or not (0 = false, 1 = true)</td>
                    </tr>
                    <tr>
                        <td>assay_rt</td>
                        <td>Float</td>
                        <td>The expected RT in seconds (based on normalized iRT value)</td>
                    </tr>
                    <tr>
                        <td>delta_rt</td>
                        <td>Float</td>
                        <td>The difference between the expected RT and the peak group RT in seconds</td>
                    </tr>
                    <tr>
                        <td>leftWidth</td>
                        <td>Float</td>
                        <td>The start of the peak group (left side) in seconds</td>
                    </tr>
                    <tr>
                        <td>main_var_xx_swath_prelim_score</td>
                        <td>Float</td>
                        <td>Initial score</td>
                    </tr>
                    <tr>
                        <td>norm_RT</td>
                        <td>Float</td>
                        <td>The peak group retention time in normalized (iRT) space</td>
                    </tr>
                    <tr>
                        <td>nr_peaks</td>
                        <td>Int</td>
                        <td>The number of transitions used</td>
                    </tr>
                    <tr>
                        <td>peak_apices_sum</td>
                        <td>Float</td>
                        <td>The sum of all peak apices (may be used as alternative intensity)</td>
                    </tr>
                    <tr>
                        <td>potentialOutlier</td>
                        <td>String</td>
                        <td>Potential outlier transitions (or "none" if none was detected)</td>
                    </tr>
                    <tr>
                        <td>rightWidth</td>
                        <td>Float</td>
                        <td>The end of the peak group (left side) in seconds</td>
                    </tr>
                    <tr>
                        <td>rt_score</td>
                        <td>Float</td>
                        <td>The raw RT score (unnormalized)</td>
                    </tr>
                    <tr>
                        <td>sn_ratio</td>
                        <td>Float</td>
                        <td>The raw S/N ratio</td>
                    </tr>
                    <tr>
                        <td>total_xic</td>
                        <td>Float</td>
                        <td>The total XIC of the chromatogram</td>
                    </tr>
                    <tr>
                        <td>var_...</td>
                        <td>Float</td>
                        <td>One of multiple sub-scores used by OpenSWATH to describe the peak group</td>
                    </tr>
                    <tr>
                        <td>aggr_prec_Peak_Area</td>
                        <td>String</td>
                        <td>Intensity (peak area) of MS1 traces separated by semicolon</td>
                    </tr>
                    <tr>
                        <td>aggr_prec_Peak_Apex</td>
                        <td>String</td>
                        <td>Intensity (peak apex) of MS1 traces separated by semicolon</td>
                    </tr>
                    <tr>
                        <td>aggr_prec_Fragment_Annotation</td>
                        <td>String</td>
                        <td>Annotation of MS1 traces separated by semicolon</td>
                    </tr>
                    <tr>
                        <td>aggr_Peak_Area</td>
                        <td>String</td>
                        <td>Intensity (peak area) of fragment ion traces separated by semicolon</td>
                    </tr>
                    <tr>
                        <td>aggr_Peak_Apex</td>
                        <td>String</td>
                        <td>Intensity (peak apex) of fragment ion traces separated by semicolon</td>
                    </tr>
                    <tr>
                        <td>aggr_Fragment_Annotation</td>
                        <td>String</td>
                        <td>Annotation of fragment ion traces separated by semicolon</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<!-- end::Body -->
</html>
