<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layouts/layout">
<!-- begin::Head -->
<head>
    <title>欢迎登陆西湖大学PECS分析平台</title>
    <link th:href="|${url}/assets/css/main.css|" rel="stylesheet" type="text/css"/>

</head>
<!-- end::Head -->
<!-- end::Body -->
<body>
<div class="m-content" layout:fragment="content">

    <div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>
    <div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>
    <div class="alert alert-success" role="alert" th:if="${searchResult}" th:text="${searchResult}"></div>

    <div class="row">
        <div class="col-md-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide"><i class="la la-gear"></i></span>
                            <h3 class="m-portlet__head-text">压缩MzXML实验数据</h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" th:action="@{/experiment/add}" th:method="post" enctype="multipart/form-data">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group m--margin-top-10">
                            <div class="alert m-alert m-alert--default" role="alert">
                                请导入MzXML格式的实验数据
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="fileLocation" class="col-2 col-form-label">
                                文件绝对路径
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="fileLocation"
                                       placeholder="Enter File Location,such as D:/data/xxx.mzXML" name="fileLocation" th:value="${fileLocation}">
                                <span class="m-form__help">文件在服务器上的绝对路径</span>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="sLibraryId" class="col-2 col-form-label">
                                相关的标准库
                            </label>
                            <div class="col-10">
                                <select class="form-control m-input" id="sLibraryId" name="sLibraryId">
                                    <option th:each="library:${sLibraries}" th:value="${library.id}" th:text="${library.name}"></option>
                                </select>
                                <span class="m-form__help">关联标准库一旦设定无法修改</span>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="vLibraryId" class="col-2 col-form-label">
                                相关的校准库
                            </label>
                            <div class="col-10">
                                <select class="form-control m-input" id="vLibraryId" name="vLibraryId">
                                    <option th:each="library:${vLibraries}" th:value="${library.id}" th:text="${library.name}"></option>
                                </select>
                                <span class="m-form__help">关联校准库一旦设定无法修改</span>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="preRTWindow" class="col-2 col-form-label">
                                预设RT卷积窗口
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="preRTWindow"
                                       placeholder="" name="preRTWindow" th:value="${preRTWindow}">
                                <span class="m-form__help">预设RT卷积窗口</span>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="description" class="col-2 col-form-label">
                                详细描述
                            </label>
                            <div class="col-10">
                            <textarea class="form-control m-input" id="description" name="description"
                                      rows="3" th:value="${description}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="submit" class="btn btn-primary">
                                提交
                            </button>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>

</body>

<!-- end::Body -->
</html>
