<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- begin::Footer -->
<footer class="m-grid__item m-footer">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop" style="width: 100%">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                <span class="m-footer__copyright">
					2020 &copy; Propro Server Developed by Propro Studio from Westlake University
				</span>
            </div>
            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
<!--                    <a class="m-nav__link" href="http://www.wias.org.cn/"><img style="height: 50px; width: 150px; " th:src="|${url}/assets/logo/university-blue-logo.jpg|" ></a>-->
                    <a class="m-nav__link" href="http://www.proteomics.pro"><img style="height: 50px; width: 150px; margin-left: 10px;" th:src="|${url}/assets/logo/propro-logo-hori-small.png|"></a>
                    <a class="m-nav__link" href="http://www.guomics.com"><img style="height: 50px; width: 50px; margin-left: 10px;" th:src="|${url}/assets/logo/guomics-logo.png|"></a>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- end::Footer -->
</body>
</html>