<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- BEGIN: Horizontal Menu -->
<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark"
        id="m_aside_header_menu_mobile_close_btn">
    <i class="la la-close"></i>
</button>
<!-- END: Horizontal Menu -->
<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
    <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">

        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">
            <a th:href="@{/}" class="m-menu__link">
                <span class="m-menu__link-text">首页</span>
            </a>
        </li>

        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click"
            aria-haspopup="true">
            <a href="#" class="m-menu__link m-menu__toggle">
                <span class="m-menu__link-text">任务</span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a th:href="@{/task/list}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-map"></i>
                            <span class="m-menu__link-text">
                                任务列表
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a th:href="@{/experiment/swath}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-folder"></i>
                            <span class="m-menu__link-text">
                                创建一个完整分析流程
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                        <a th:href="|@{/task/create?templateName=UPLOAD_LIBRARY_FILE}|" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text">
                                导入标准库
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a th:href="|@{/task/create?templateName=UPLOAD_EXPERIMENT_FILE}|" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-diagram"></i>
                            <span class="m-menu__link-text">
                                导入实验数据
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a th:href="|@{/experiment/batchcreate}|" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-diagram"></i>
                            <span class="m-menu__link-text">
                                批量导入实验数据
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" aria-haspopup="true">
            <a href="#" class="m-menu__link m-menu__toggle">
                <span class="m-menu__link-text">标准库&iRT校准库</span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true">
                        <a th:href="@{/library/listStandard}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text">
                                标准库列表
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a th:href="@{/library/listIrt}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-diagram"></i>
                            <span class="m-menu__link-text">
                                iRT校准库列表
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a th:href="@{/transition/list}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-map"></i>
                            <span class="m-menu__link-text">
                                Transition列表
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">
            <a th:href="@{/experiment/list}" class="m-menu__link">
                <span class="m-menu__link-text">实验数据</span>
            </a>
        </li>

        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">
            <a th:href="@{/analyse/overview/list}" class="m-menu__link">
                <span class="m-menu__link-text">卷积分析</span>
            </a>
        </li>

        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click"
            aria-haspopup="true">
            <a href="#" class="m-menu__link m-menu__toggle">
                <span class="m-menu__link-text">工具集</span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true">
                        <a th:href="@{/transition/calculator}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text">
                                分子质量计算器
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                        <a th:href="@{/experiment/compressor}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text">
                                MzXML文件压缩机
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a th:href="@{/spectrum/mzxmlextractor}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-diagram"></i>
                            <span class="m-menu__link-text">
                                MzXML扫描数据解压缩
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a th:href="@{/spectrum/mzmlextractor}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-folder"></i>
                            <span class="m-menu__link-text">
                                MzML扫描数据解压缩
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click"
            aria-haspopup="true">
            <a href="#" class="m-menu__link m-menu__toggle">
                <span class="m-menu__link-text">文档专区</span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true">
                        <a th:href="@{/document/feature}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text">
                                Feature字段说明
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a href="#" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-diagram"></i>
                            <span class="m-menu__link-text">
                                PECS使用白皮书
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

</body>
</html>