<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- BEGIN: Horizontal Menu -->
<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark"
        id="m_aside_header_menu_mobile_close_btn">
    <i class="la la-close"></i>
</button>
<!-- END: Horizontal Menu -->
<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
    <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">

        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">
            <a th:href="@{/}" class="m-menu__link">
                <span class="m-menu__link-text" th:text="#{homepage}"></span>
            </a>
        </li>

        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click"
            aria-haspopup="true">
            <a href="#" class="m-menu__link m-menu__toggle">
                <span class="m-menu__link-text" th:text="#{task}"></span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a th:href="@{/task/list}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-map"></i>
                            <span class="m-menu__link-text" th:text="#{task_list}"></span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                        <a th:href="@{/project/create}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text" th:text="#{create_project}"></span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                        <a th:href="@{/library/create}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text" th:text="#{import_library}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" aria-haspopup="true">
            <a href="#" class="m-menu__link m-menu__toggle">
                <span class="m-menu__link-text" th:text="#{menu_library_and_irt_library}"></span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true">
                        <a th:href="@{/library/list}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text" th:text="#{menu_library_list}"></span>
                        </a>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a th:href="@{/library/listIrt}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-diagram"></i>
                            <span class="m-menu__link-text" th:text="#{menu_irt_library_list}"></span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                        <a th:href="@{/library/listPublic}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text" th:text="#{label_public_library}"></span>
                        </a>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a th:href="@{/library/listPublicIrt}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-diagram"></i>
                            <span class="m-menu__link-text" th:text="#{label_public_irt_library}"></span>
                        </a>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a th:href="@{/peptide/list}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-map"></i>
                            <span class="m-menu__link-text" th:text="#{menu_peptide_list}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">
            <a th:href="@{/project/list}" class="m-menu__link">
                <span class="m-menu__link-text" th:text="#{menu_project}"></span>
            </a>
        </li>

        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">
            <a th:href="@{/experiment/list}" class="m-menu__link">
                <span class="m-menu__link-text" th:text="#{menu_experiment}"></span>
            </a>
        </li>

        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" aria-haspopup="true">
            <a href="#" class="m-menu__link m-menu__toggle">
                <span class="m-menu__link-text" th:text="#{menu_analyse_overview}"></span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true">
                        <a th:href="@{/analyse/overview/list}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text" th:text="#{menu_analyse_overview_list}"></span>
                        </a>
                    </li>
                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                        <a th:href="@{/analyse/overview/select}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-diagram"></i>
                            <span class="m-menu__link-text" th:text="#{menu_cross_comparision}"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>


        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click"
            aria-haspopup="true">
            <a href="#" class="m-menu__link m-menu__toggle">
                <span class="m-menu__link-text" th:text="#{menu_tools}"></span>
                <i class="m-menu__hor-arrow la la-angle-down"></i>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item " aria-haspopup="true">
                        <a th:href="@{/analyse/clinic(onlyLib=true)}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text" th:text="#{menu_peptide_clinic}"></span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true">
                        <a th:href="@{/peptide/calculator}" class="m-menu__link ">
                            <i class="m-menu__link-icon flaticon-file"></i>
                            <span class="m-menu__link-text" th:text="#{menu_molecular_mass_calculator}"></span>
                        </a>
                    </li>
<!--                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">-->
<!--                        <a th:href="@{/spectrum/mzxmlextractor}" class="m-menu__link ">-->
<!--                            <i class="m-menu__link-icon flaticon-diagram"></i>-->
<!--                            <span class="m-menu__link-text" th:text="#{menu_mzxml_decompressor}"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">-->
<!--                        <a th:href="@{/spectrum/mzmlextractor}" class="m-menu__link ">-->
<!--                            <i class="m-menu__link-icon flaticon-folder"></i>-->
<!--                            <span class="m-menu__link-text" th:text="#{menu_mzxl_decompressor}"></span>-->
<!--                        </a>-->
<!--                    </li>-->
                </ul>
            </div>
        </li>

<!--        <li class="m-menu__item  m-menu__item&#45;&#45;submenu m-menu__item&#45;&#45;rel" data-menu-submenu-toggle="click"-->
<!--            aria-haspopup="true">-->
<!--            <a href="#" class="m-menu__link m-menu__toggle">-->
<!--                <span class="m-menu__link-text" th:text="#{menu_documents}"></span>-->
<!--                <i class="m-menu__hor-arrow la la-angle-down"></i>-->
<!--                <i class="m-menu__ver-arrow la la-angle-right"></i>-->
<!--            </a>-->
<!--            <div class="m-menu__submenu m-menu__submenu&#45;&#45;classic m-menu__submenu&#45;&#45;left">-->
<!--                <span class="m-menu__arrow m-menu__arrow&#45;&#45;adjust"></span>-->
<!--                <ul class="m-menu__subnav">-->
<!--                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">-->
<!--                        <a href="https://www.yuque.com/proteomicspro/documentation" class="m-menu__link ">-->
<!--                            <i class="m-menu__link-icon flaticon-diagram"></i>-->
<!--                            <span class="m-menu__link-text" th:text="#{menu_manual}"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">-->
<!--                        <a th:href="@{/swagger-ui.html}" class="m-menu__link ">-->
<!--                            <i class="m-menu__link-icon flaticon-diagram"></i>-->
<!--                            <span class="m-menu__link-text" th:text="#{openapi}"></span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->

        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">
            <a th:href="@{/swagger-ui.html}" class="m-menu__link ">
                <span class="m-menu__link-text" th:text="#{openapi}"></span>
            </a>
        </li>
    </ul>
</div>

</body>
</html>