<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<body>
<!-- BEGIN: Topbar -->
<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
    <div class="m-stack__item m-topbar__nav-wrapper">
        <ul class="m-topbar__nav m-nav m-nav--inline">
            <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                data-dropdown-toggle="click">
                <a href="#" class="m-nav__link m-dropdown__toggle">
<!--					<span class="m-topbar__userpic">-->
<!--						<img th:src="@{/assets/avatar.jpg}" class="m&#45;&#45;img-rounded m&#45;&#45;marginless m&#45;&#45;img-centered" alt=""/>-->
<!--					</span>-->
                    <i class="m-nav__link-icon flaticon-user"></i>
                    <span class="m-topbar__username" style="color: black; text-transform: none;"><shiro:principal property="username"/></span>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__header m--align-center"
                             th:style="|background: url(${url}/assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;|">
                            <div class="m-card-user m-card-user--skin-dark">
<!--                                <div class="m-card-user__pic">-->
<!--                                    <img th:src="@{/assets/avatar.jpg}" class="m&#45;&#45;img-rounded m&#45;&#45;marginless" alt=""/>-->
<!--                                </div>-->
                                <div class="m-card-user__details">
                                    <span class="m-card-user__name m--font-weight-500" ><shiro:principal property="username"/></span>
                                    <span class="m-card-user__email m--font-weight-500"><shiro:principal property="email"/></span></br>
                                    <span class="m-card-user__email m--font-weight-500"><shiro:principal property="organization"/></span></br>
                                    <span class="m-card-user__email m--font-weight-500"><shiro:principal property="telephone"/></span>
                                </div>
                            </div>
                        </div>
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav m-nav--skin-light">
                                    <li class="m-nav__section m--hide">
										<span class="m-nav__section-text">
											Section
										</span>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit"></li>

                                    <li class="m-nav__item" shiro:hasRole="admin">
                                        <a th:href="@{/admin/user/list}" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-users"></i>
                                            <span class="m-nav__link-text" th:text="#{label_user_manager}"></span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a th:href="@{/user/profile}" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-user"></i>
                                            <span class="m-nav__link-text" th:text="#{label_user_profile}"></span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a th:href="@{/config/changeLang(lang=en)}" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">English</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a th:href="@{/config/changeLang(lang=zh)}" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">简体中文</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                    <li class="m-nav__item">
                                        <a th:href="@{/login/logout}"
                                           class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- END: Topbar -->
</body>
</html>