<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
    <!-- BEGIN: Aside Menu -->
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
         data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
        <ul class="m-menu__nav m-menu__nav--dropdown-submenu-arrow ">
            <!--m-menu__item&#45;&#45;active-->
            <!--<li class="m-menu__item " aria-haspopup="true">-->
                <!--<a href="/home" class="m-menu__link ">-->
                    <!--<i class="m-menu__link-icon flaticon-line-graph"></i>-->
                    <!--<span class="m-menu__link-title">-->
						<!--<span class="m-menu__link-wrap">-->
							<!--<span class="m-menu__link-text">-->
								<!--总控制台-->
							<!--</span>-->
						<!--</span>-->
					<!--</span>-->
                <!--</a>-->
            <!--</li>-->

            <li class="m-menu__item m-menu__item--submenu m-menu__item--expanded m-menu__item--open" aria-haspopup="true"
                data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-list-1"></i>
                    <span class="m-menu__link-text">数据导入</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">数据导入</span>
							</span>
                        </li>
                        <li class="m-menu__item" aria-haspopup="true">
                            <a href="/library/create" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">导入TSV或TraML标准库</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/experiment/create" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">导入MzXML或MzML实验数据</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item m-menu__item--submenu m-menu__item--expanded m-menu__item--open" aria-haspopup="true"
                data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-signs-2"></i>
                    <span class="m-menu__link-text">实验数据</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu " style="display: block;">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">实验数据</span>
							</span>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/experiment/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">原始实验列表</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/scanindex/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">原始实验索引列表</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/analyse/overview/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">卷积实验列表</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <!--<li class="m-menu__item m-menu__item&#45;&#45;submenu m-menu__item&#45;&#45;expanded m-menu__item&#45;&#45;open" aria-haspopup="true"-->
                <!--data-menu-submenu-toggle="hover">-->
                <!--<a href="#" class="m-menu__link m-menu__toggle">-->
                    <!--<i class="m-menu__link-icon flaticon-signs-2"></i>-->
                    <!--<span class="m-menu__link-text">实验分析数据</span>-->
                    <!--<i class="m-menu__ver-arrow la la-angle-right"></i>-->
                <!--</a>-->
                <!--<div class="m-menu__submenu " style="display: block;">-->
                    <!--<span class="m-menu__arrow"></span>-->
                    <!--<ul class="m-menu__subnav">-->
                        <!--<li class="m-menu__item  m-menu__item&#45;&#45;parent" aria-haspopup="true">-->
							<!--<span class="m-menu__link">-->
								<!--<span class="m-menu__link-text">分析数据</span>-->
							<!--</span>-->
                        <!--</li>-->
                        <!--<li class="m-menu__item " aria-haspopup="true">-->
                            <!--<a href="/analyse/overview/list" class="m-menu__link ">-->
                                <!--<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot"><span></span></i>-->
                                <!--<span class="m-menu__link-text">概览列表</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="m-menu__item " aria-haspopup="true">-->
                            <!--<a href="/analyse/data/list" class="m-menu__link ">-->
                                <!--<i class="m-menu__link-bullet m-menu__link-bullet&#45;&#45;dot"><span></span></i>-->
                                <!--<span class="m-menu__link-text">分析数据列表</span>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</li>-->

            <li class="m-menu__item m-menu__item--submenu m-menu__item--expanded m-menu__item--open" aria-haspopup="true"
                data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-interface-2"></i>
                    <span class="m-menu__link-text">标准库</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu " style="display: block;">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">标准库</span>
							</span>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/library/listStandard" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">标准库列表</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/library/listVerify" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">校准库列表</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/transition/list" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">Transition列表</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="m-menu__item m-menu__item--submenu m-menu__item--expanded m-menu__item--open" aria-haspopup="true"
                data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-attachment"></i>
                    <span class="m-menu__link-text">小工具集</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu " style="display: block;">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">小工具集</span>
							</span>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/transition/calculator" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">分子质量计算器</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/spectrum/mzxmlextractor" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">MzXML扫描数据解压缩</span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/spectrum/mzmlextractor" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">MzML扫描数据解压缩</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="m-menu__item m-menu__item--submenu m-menu__item--expanded m-menu__item--open" aria-haspopup="true"
                data-menu-submenu-toggle="hover">
                <a href="#" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-attachment"></i>
                    <span class="m-menu__link-text">PECS白皮书</span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu " style="display: block;">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">PECS白皮书</span>
							</span>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true">
                            <a href="/document/feature" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">Feature字段说明</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
    <!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
</body>
</html>