<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layouts/layout">
    <!-- begin::Head -->
    <head>
        <title>欢迎登陆西湖大学PECS分析平台</title>
    </head>
    <!-- end::Head -->
    <!-- end::Body -->
    <body>

        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title m-subheader__title--separator">
                        标准库详情页面
                    </h3>
                </div>
            </div>
        </div>

        <div class="m-content" layout:fragment="content">

            <div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>
            <div th:if="${errorList}" th:each="arrayS:${errorList}">
                <div class="alert alert-danger" role="alert" th:text="${arrayS}"></div>
            </div>

            <div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">ScanIndex详情页</h3>
                                </div>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <label for="id" class="col-2 col-form-label">
                                        ID
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="id" name="id" readonly th:value="${scanIndex?.id}">
                                        <span class="m-form__help">全局唯一</span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label">
                                        对应实验的ID
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="experimentId" name="experimentId" readonly th:value="${scanIndex?.experimentId}"/>
                                        <span class="m-form__help">
                                            <a th:href="|/experiment/detail/${scanIndex?.experimentId}|">点击查看</a>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="msLevel" class="col-2 col-form-label">
                                        MS等级
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="msLevel" name="msLevel" readonly th:value="${scanIndex?.msLevel}">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="num" class="col-2 col-form-label">
                                        组内序号
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="num" name="num" readonly th:value="${scanIndex?.num}">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="mzxmlStart" class="col-2 col-form-label">
                                        所在文件位置
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="mzxmlStart" name="mzxmlStart"
                                               readonly th:value="|${scanIndex?.positionMap?.get('mzxml')?.start} -> ${scanIndex?.positionMap?.get('mzxml')?.end}|">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="airdStart" class="col-2 col-form-label">
                                        所在文件位置(In aird File)
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="airdStart" name="airdStart"
                                               readonly th:value="|${scanIndex?.positionMap?.get('aird')?.start} -> ${scanIndex?.positionMap?.get('aird')?.end}|">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="airdBinStart" class="col-2 col-form-label">
                                        所在文件位置(In aird bin File)
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="airdBinStart" name="airdBinStart"
                                               readonly th:value="|${scanIndex?.positionMap?.get('aird')?.start} -> ${scanIndex?.positionMap?.get('aird')?.end}|">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="originalPrecursorMz" class="col-2 col-form-label">
                                        MZ窗口位置(校准前)
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="originalPrecursorMz" name="originalPrecursorMz"
                                               readonly th:value="|${scanIndex?.originalPrecursorMzStart}/${scanIndex?.originalPrecursorMzEnd}|">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="precursorMz" class="col-2 col-form-label">
                                        MZ窗口位置(校准后)
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="precursorMz" name="precursorMz"
                                               readonly th:value="|${scanIndex?.precursorMzStart}/${scanIndex?.precursorMzEnd}|">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="windowWideness" class="col-2 col-form-label">
                                        Swath窗口宽度(校准前/后)
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="windowWideness" name="windowWideness"
                                               readonly th:value="|${scanIndex?.originalWindowWideness}/${scanIndex?.windowWideness}|">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="name" class="col-2 col-form-label">
                                        RT
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="name" name="name" readonly th:value="${scanIndex?.rtStr}">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="name" class="col-2 col-form-label">
                                        Aird-RTs
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="rts" name="rts" readonly th:value="|${scanIndex?.rts.size()}组|">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Portlet-->
                </div>
            </div>

        </div>


    </body>

    <!-- end::Body -->
</html>
