<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layouts/layout">
    <!-- begin::Head -->
    <head>
        <title th:text="#{title_welcome_to_propro}"></title>
    </head>
    <!-- end::Head -->
    <!-- end::Body -->
    <body>

        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title m-subheader__title--separator" th:text="#{label_scan_index_detail}"></h3>
                </div>
            </div>
        </div>

        <div class="m-content" layout:fragment="content">

            <div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>
            <div th:if="${errorList}" th:each="arrayS:${errorList}">
                <div class="alert alert-danger" role="alert" th:text="${arrayS}"></div>
            </div>

            <div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text" th:text="#{label_scan_index_detail}"></h3>
                                </div>
                            </div>
                        </div>
                        <!--begin::Form-->
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <label for="id" class="col-2 col-form-label">
                                        ID
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="id" name="id" readonly th:value="${scanIndex?.id}">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label class="col-2 col-form-label" th:text="#{label_exp_id}"></label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="experimentId" name="experimentId" readonly th:value="${scanIndex?.experimentId}"/>
                                        <span class="m-form__help">
                                            <a th:href="@{/experiment/detail/{id}(id=${scanIndex?.experimentId})}" th:text="#{btn_click_to_view}"></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="msLevel" class="col-2 col-form-label" th:text="#{label_ms_level}">
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="msLevel" name="msLevel" readonly th:value="${scanIndex?.msLevel}">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="num" class="col-2 col-form-label">
                                        Num.
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="num" name="num" readonly th:value="${scanIndex?.num}">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="mzxmlStart" class="col-2 col-form-label" th:text="#{label_loc_in_mzxml_file}">
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="mzxmlStart" name="mzxmlStart"
                                               readonly th:value="|${scanIndex?.positionMap?.get('mzxml')?.start} -> ${scanIndex?.positionMap?.get('mzxml')?.delta}|">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="airdStart" class="col-2 col-form-label" th:text="#{label_loc_in_aird_file}">
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="airdStart" name="airdStart"
                                               readonly th:value="|${scanIndex?.positionMap?.get('aird')?.start} -> ${scanIndex?.positionMap?.get('aird')?.delta}|">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="originalPrecursorMz" class="col-2 col-form-label" th:text="#{label_precursor_mz_range_before_adjust}">
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="originalPrecursorMz" name="originalPrecursorMz"
                                               readonly th:value="|${scanIndex?.originalPrecursorMzStart}/${scanIndex?.originalPrecursorMzEnd}|">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="precursorMz" class="col-2 col-form-label" th:text="#{label_precursor_mz_range_after_adjust}">
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="precursorMz" name="precursorMz"
                                               readonly th:value="|${scanIndex?.precursorMzStart}/${scanIndex?.precursorMzEnd}|">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="windowWideness" class="col-2 col-form-label" th:text="|#{label_swath_window_weight}(Before/After)|">

                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="windowWideness" name="windowWideness"
                                               readonly th:value="|${scanIndex?.originalWindowWideness}/${scanIndex?.windowWideness}|">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="name" class="col-2 col-form-label">
                                        RT
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="name" name="name" readonly th:value="${scanIndex?.rt}">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="name" class="col-2 col-form-label">
                                        Aird-RTs
                                    </label>
                                    <div class="col-10">
                                        <input type="text" class="form-control m-input" id="rts" name="rts" readonly th:value="|${scanIndex?.rts?.size()}|">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Portlet-->
                </div>
            </div>

        </div>


    </body>

    <!-- end::Body -->
</html>
