<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"-->
      <!--layout:decorator="layouts/layout">-->
<!--&lt;!&ndash; begin::Head &ndash;&gt;-->
<!--<head>-->
    <!--<title>-->
        <!--欢迎登陆西湖大学PECS分析平台-->
    <!--</title>-->
<!--</head>-->
<!--&lt;!&ndash; end::Head &ndash;&gt;-->
<!--&lt;!&ndash; end::Body &ndash;&gt;-->
<!--<body>-->

<!--<div class="m-subheader ">-->
    <!--<div class="d-flex align-items-center">-->
        <!--<div class="mr-auto">-->
            <!--<h3 class="m-subheader__title m-subheader__title&#45;&#45;separator">-->
                <!--实验分析数据概述详情页面-->
            <!--</h3>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="m-content" layout:fragment="content">-->

    <!--<div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>-->
    <!--<div th:if="${errorList}" th:each="arrayS:${errorList}">-->
        <!--<div class="alert alert-danger" role="alert" th:text="${arrayS}"></div>-->
    <!--</div>-->

    <!--<div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>-->
    <!--<div class="row">-->
        <!--<div class="col-md-12" id="main_body" style="width: auto;height:1200px;background-color: black;">-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->


<!--</body>-->
<!--<th:block layout:fragment="script">-->
    <!--<script th:src="|${url}/assets/js/echarts/echarts.min.js|" type="text/javascript"></script>-->
    <!--<script th:src="|${url}/assets/js/echarts/echarts-gl.min.js|" type="text/javascript"></script>-->
    <!--<script th:src="|${url}/assets/js/echarts/dark.js|" type="text/javascript"></script>-->

    <!--<script th:inline="javascript">-->
        <!--$(document).ready(function () {-->
            <!--init()-->
        <!--});-->

        <!--function init() {-->
            <!--var myChart = echarts.init(document.getElementById('main_body'));-->
            <!--var overviewId = [[${overviewId}]];-->
            <!--var data;-->
            <!--myChart.showLoading();-->
            <!--$.ajax({-->
                <!--type: "POST",-->
                <!--url: "/analyse/getAllPoints?overviewId=" + overviewId,-->
                <!--dataType: "json",-->
                <!--async: true,-->
                <!--success: function (result) {-->
                    <!--data = result.model;-->
                    <!--option = {-->
                        <!--visualMap: {-->
                            <!--show: false,-->
                            <!--inRange: {-->
                                <!--color: ['#FF5500', '#ed9e53', '#FF5C77', '#cca785', '#607523', '#cc7d79']-->
                            <!--}-->
                        <!--},-->
                        <!--xAxis3D: {-->
                            <!--type: 'value',-->
                            <!--min: 400-->
                        <!--},-->
                        <!--yAxis3D: {-->
                            <!--type: 'value'-->
                        <!--},-->
                        <!--zAxis3D: {-->
                            <!--type: 'value'-->
                        <!--},-->
                        <!--grid3D: {-->
                            <!--axisLine: {-->
                                <!--lineStyle: {color: '#fff'}-->
                            <!--},-->
                            <!--axisPointer: {-->
                                <!--lineStyle: {color: '#fff'}-->
                            <!--},-->
                            <!--viewControl: {-->
                                <!--// autoRotate: true-->
                            <!--},-->
                            <!--light: {-->
                                <!--main: {-->
                                    <!--shadow: true,-->
                                    <!--quality: 'ultra',-->
                                    <!--intensity: 1.5-->
                                <!--}-->
                            <!--}-->
                        <!--},-->
                        <!--series: [{-->
                            <!--type: 'bar3D',-->
                            <!--silent: true,-->
                            <!--shading: 'realistic',-->
                            <!--realisticMaterial: {-->
                                <!--roughness: 0.5,-->
                                <!--metalness: 0-->
                            <!--},-->
                            <!--instancing: true,-->
                            <!--barSize: 1,-->
                            <!--data: data,-->
                            <!--lineStyle: {-->
                                <!--width: 4-->
                            <!--},-->
                            <!--label: {-->
                                <!--formatter: function (param) {-->
                                    <!--return param.value[2].toFixed(1);-->
                                <!--}-->
                            <!--}-->
                        <!--}]-->
                    <!--};-->
                    <!--myChart.setOption(option);-->
                    <!--myChart.hideLoading();-->
                <!--}-->
            <!--});-->


        <!--};-->
    <!--</script>-->
<!--</th:block>-->
<!--&lt;!&ndash; end::Body &ndash;&gt;-->
<!--</html>-->
