<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layouts/layout">
<!-- begin::Head -->
<head>
    <title>
        欢迎登陆西湖大学PECS分析平台
    </title>
</head>
<!-- end::Head -->
<body>
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                实验分析数据概述详情页面
            </h3>
        </div>
    </div>
</div>

<div class="m-content" layout:fragment="content">

    <div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>
    <div th:if="${errorList}" th:each="arrayS:${errorList}">
        <div class="alert alert-danger" role="alert" th:text="${arrayS}"></div>
    </div>

    <div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>
    <div class="row">
        <div class="col-md-8">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">实验数据概述详情页</h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <label for="id" class="col-2 col-form-label">
                                ID
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="id" name="id" readonly
                                       th:value="${overview?.id}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="id" class="col-2 col-form-label">原始实验ID</label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="expId" name="expId" readonly
                                       th:value="${overview?.expId}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="id" class="col-2 col-form-label">卷积代号</label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="name" name="name" readonly
                                       th:value="${overview?.name}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="library" class="col-2 col-form-label">关联标准库</label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="library" readonly
                                       th:value="|${overview?.libraryName}(${overview?.libraryId})|">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="ExtractWindow" class="col-2 col-form-label">RT/MZ卷积窗口</label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="ExtractWindow" readonly
                                       th:value="|${overview?.rtExtractWindow}/${overview?.mzExtractWindow}|">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="rate" class="col-2 col-form-label">伪肽段卷积数/真实肽段卷积数/标准库目标数</label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="rate" readonly th:value="|${rate}|">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="slopeIntercept" class="col-2 col-form-label">斜率/截距</label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="slopeIntercept" readonly
                                       th:value="|${slopeIntercept}|">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="creator" class="col-2 col-form-label">创建人</label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="creator" readonly
                                       th:value="|${overview?.creator}|">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="createDate" class="col-2 col-form-label">创建时间</label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="createDate" name="createDate"
                                       readonly
                                       th:value="${#dates.format(overview?.createDate, 'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <a th:href="|/analyse/overview/delete/${overview?.id}|" class="btn btn-danger">删除</a>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-md-4">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">数据卷积操作</h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <a th:href="|/analyse/data/list?overviewId=${overview.id}|" class="btn btn-info btn-sm">查看卷积数据</a>
                    <a th:href="|/analyse/data/group?overviewId=${overview.id}&isIrt=true|" class="btn btn-warning btn-sm">查看iRT卷积组</a>
                    <a th:href="|/analyse/data/irtliblist?overviewId=${overview.id}|" class="btn btn-info btn-sm">查看校准库卷积数据</a>
                </div>
            </div>
        </div>
    </div>

</div>


</body>

<!-- end::Body -->
</html>
