<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layouts/layout">
<!-- begin::Head -->
<head>
    <title>
        欢迎登陆西湖大学Swath蛋白质组学分析平台
    </title>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body>

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                实验分析数据概述详情页面
            </h3>
        </div>
    </div>
</div>

<div class="m-content" layout:fragment="content">

    <div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>
    <div th:if="${errorList}" th:each="arrayS:${errorList}">
        <div class="alert alert-danger" role="alert" th:text="${arrayS}"></div>
    </div>

    <div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>
    <div class="row">
        <div class="col-md-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">实验数据概述详情页</h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <label for="id" class="col-2 col-form-label">
                                ID
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="id" name="id" readonly
                                       th:value="${overview?.id}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="id" class="col-2 col-form-label">
                                原始实验ID
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="expId" name="expId" readonly
                                       th:value="${overview?.expId}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="libraryId" class="col-2 col-form-label">
                                关联标准库ID
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="libraryId" readonly th:value="|${overview?.libraryId}|">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="rtExtractWindowForMS1" class="col-2 col-form-label">
                                MS1-RT卷积窗口
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="rtExtractWindowForMS1" readonly th:value="${overview?.rtExtractWindowForMS1}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="mzExtractWindowForMS1" class="col-2 col-form-label">
                                MS1-MZ卷积窗口
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="mzExtractWindowForMS1" readonly th:value="${overview?.mzExtractWindowForMS1}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="rtExtractWindowForMS2" class="col-2 col-form-label">
                                MS1-RT卷积窗口
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="rtExtractWindowForMS2" readonly th:value="${overview?.rtExtractWindowForMS2}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="mzExtractWindowForMS2" class="col-2 col-form-label">
                                MS2-MZ卷积窗口
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="mzExtractWindowForMS2" readonly th:value="${overview?.mzExtractWindowForMS2}">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="createDate" class="col-2 col-form-label">
                                创建时间
                            </label>
                            <div class="col-10">
                                <input type="text" class="form-control m-input" id="createDate" name="createDate"
                                       readonly th:value="${#dates.format(overview?.createDate, 'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <a th:href="|/analyse/overview/delete/${overview?.id}|" class="btn btn-danger">删除</a>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>

</div>


</body>

<!-- end::Body -->
</html>
