<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layouts/layout">
<!-- begin::Head -->
<head>
    <title>欢迎登陆西湖大学PECS分析平台</title>
    <link th:href="|${url}/assets/css/pagination.css|" rel="stylesheet" type="text/css" />
</head>
<!-- end::Head -->
<!-- end::Body -->
<body>
<div class="m-content" layout:fragment="content">

    <div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>
    <div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>
    <div class="m-portlet__body">
        <!--begin: Datatable -->
        <div>
            <table class="table table-bordered table-hover" style="table-layout:fixed;">
                <thead>
                <tr>
                    <th width="20%">
                        卷积代号
                    </th>
                    <th width="10%">
                        标准库名称
                    </th>
                    <th width="15%">
                        iRT参数
                    </th>
                    <th width="5%">
                        创建人
                    </th>
                    <th width="5%">
                        RT/MZ卷积窗口
                    </th>
                    <th width="10%">
                        创建时间
                    </th>
                    <th width="35%">
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="overview:${overviews}">
                    <td th:text="${overview.name}"></td>
                    <td th:text="${overview.libraryName}"></td>
                    <td th:text="|${overview.slope}/${overview.intercept}|"></td>
                    <td th:text="${overview.creator}"></td>
                    <td th:text="|${overview.rtExtractWindow}/${overview.mzExtractWindow}|"></td>
                    <td th:text="${#dates.format(overview.createDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <a th:href="|/analyse/overview/detail/${overview.id}|" class="btn btn-success btn-sm">详情</a>
                        <a th:href="|/analyse/data/list?overviewId=${overview.id}|" class="btn btn-info btn-sm">查看卷积数据</a>
                        <a th:href="|/analyse/overview/score?overviewId=${overview.id}|" class="btn btn-brand btn-sm">开始打分</a>
                        <a th:href="|/scores/list?overviewId=${overview.id}|" class="btn btn-accent btn-sm">查看子分数</a>
                        <div class="btn-group dropright" role="group">
                            <button id="scoresBtnGroup" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                子分数分布图
                            </button>
                            <div class="dropdown-menu" aria-labelledby="scoresBtn">
                                <a class="dropdown-item" th:href="|/scores/list?overviewId=${overview.id}|">子分数总览</a>
                                <a class="dropdown-item" th:each="score:${scores}" th:href="|/scores/detail?scoreType=${score.typeName}|" th:text="${score.typeName}"></a>
                            </div>
                        </div>
                        <a th:href="|/analyse/overview/airus/${overview.id}|" class="btn btn-dark btn-sm">Airus合并打分</a>
                        <!--<a th:href="|/analyse/overview/export/${overview.id}|" class="btn btn-warning btn-sm">导出卷积数据</a>-->
                        <a th:href="|/scores/export/${overview.id}|" class="btn btn-danger btn-sm">导出子分数</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p id="pagination"></p>
        <!--end: Datatable -->
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="|${url}/assets/js/jquery-bootpag/jquery.bootpag.js|" type="text/javascript"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var totalPage = [[${totalPage}]];
        var currentPage = [[${currentPage}]];
        /*]]>*/

        $(document).ready(function () {
            $('#pagination').bootpag({
                paginationClass: 'pagination',
                next: '<i class="fa fa-angle-right"></i>',
                prev: '<i class="fa fa-angle-left"></i>',
                total: totalPage,
                page: currentPage,
                maxVisible: 10
            }).on("page", function (event, num) {
                document.getElementById("currentPage").value = num;
                document.getElementById("searchForm").submit();
            });
        })
    </script>
</th:block>

</body>

<!-- end::Body -->
</html>
