<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layouts/layout}">
<!-- begin::Head -->
<head>
    <title th:text="#{title_welcome_to_propro}"></title>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body>
<div class="m-content" layout:fragment="content">

    <div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>

    <div class="row">
        <div class="col-md-8">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide"><i class="la la-gear"></i></span>
                            <h3 class="m-portlet__head-text" th:text="#{label_update_user_info}"></h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" th:action="@{/admin/user/update}"
                      th:method="post" enctype="multipart/form-data">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <label for="id" class="col-2 col-form-label" th:text="#{label_username}"></label>
                            <div class="col-4">
                                <input type="text" class="form-control m-input" readonly name="id" id="id"
                                       th:value="${user?.id}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="username" class="col-2 col-form-label" th:text="#{label_username}"></label>
                            <div class="col-4">
                                <input type="text" class="form-control m-input" readonly name="username" id="username"
                                       th:value="${user?.username}">
                            </div>
                            <label for="nick" class="col-2 col-form-label" th:text="#{label_nick}"></label>
                            <div class="col-4">
                                <input type="text" class="form-control m-input" id="nick" name="nick"
                                       th:value="${user?.nick}">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="email" class="col-2 col-form-label" th:text="#{label_email}"></label>
                            <div class="col-4">
                                <input type="text" class="form-control m-input" id="email" name="email"
                                       th:value="${user?.email}">
                            </div>
                            <label for="organization" class="col-2 col-form-label" th:text="#{label_organization}"></label>
                            <div class="col-4">
                                <input type="text" class="form-control m-input" id="organization" name="organization"
                                       th:value="${user?.organization}">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="telephone" class="col-2 col-form-label" th:text="#{label_telephone}">
                            </label>
                            <div class="col-4">
                                <input type="text" class="form-control m-input" id="telephone" name="telephone"
                                       th:value="${user?.telephone}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row" shiro:hasrole="admin">
                            <label for="role" class="col-2 col-form-label" th:text="#{label_role}">
                            </label>
                            <div class="col-4">
                                <!--<input type="text" class="form-control m-input" id="type" name="type" placeholder="0:Library,1:iRT-Library" th:value="${library?.type}">-->
                                <select class="form-control m-input" id="role" name="role">
                                    <option th:text="#{label_admin}" value="admin"
                                            th:selected="${#lists.contains(user?.roles,'admin')}?true:false"></option>
                                    <option th:text="#{label_member}" value="member"
                                            th:selected="${#lists.contains(user?.roles,'member')}?true:false"></option>
                                    <option th:text="#{label_guest}" value="guest"
                                            th:selected="${#lists.contains(user?.roles,'guest')}?true:false"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="submit" class="btn btn-primary" th:text="#{btn_update}"></button>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>

</div>


</body>

<!-- end::Body -->
</html>
