<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:shiro="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layouts/layout}">
<!-- begin::Head -->
<head>
    <title th:text="#{title_welcome_to_propro}"></title>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body>
<div class="m-content" layout:fragment="content">
    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__body">
                    <div class="m-card-profile">
                        <div class="m-card-profile__title m--hide" th:text="#{label_user_profile}"></div>
                        <div class="m-card-profile__pic">
<!--                            <div class="m-card-profile__pic-wrapper">-->
<!--                                <img src="../assets/app/media/img/users/user4.jpg" alt=""/>-->
<!--                            </div>-->
                        </div>
                        <div class="m-card-profile__details">
							<span class="m-card-profile__name" th:text="${user.username}"></span>
                            <a href="" class="m-card-profile__email m-link" th:text="${user.email}"></a>
                        </div>
                    </div>
                    <div class="m-portlet__body-separator"></div>
                    <div class="m-widget1 m-widget1--paddingless">
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title" th:text="#{label_project}">
                                    </h3>
                                    <span class="m-widget1__desc">
										Related Projects
									</span>
                                </div>
                                <div class="col m--align-right">
									<span class="m-widget1__number m--font-brand" th:text="${projectCount}">
									</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title" th:text="#{label_exp}">
                                    </h3>
                                    <span class="m-widget1__desc">
										Related Experiments
									</span>
                                </div>
                                <div class="col m--align-right">
									<span class="m-widget1__number m--font-danger" th:text="${expCount}">
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8">
            <div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>
            <div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>
            <div class="m-portlet m-portlet--full-height m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a id="tabUserProfile" class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab" role="tab" th:text="#{label_user_profile}"></a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a id="tabChangePwd" class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_change_pwd" role="tab" th:text="#{label_change_pwd}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="m_user_profile_tab">
                        <form class="m-form m-form--fit m-form--label-align-right" th:action="@{/user/update}" th:method="post">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group m--margin-top-10 m--hide">
                                    <div class="alert m-alert m-alert--default" role="alert"></div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="username" class="col-2 col-form-label" th:text="#{label_username}"></label>
                                    <div class="col-7">
                                        <input id="username" class="form-control m-input" readonly type="text" name="username" th:value="${user.username}">
                                        <span class="m-form__help" th:text="#{tips_username_cannot_be_modified}"></span>
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="nick" class="col-2 col-form-label" th:text="#{label_nick}"></label>
                                    <div class="col-7">
                                        <input id="nick" class="form-control m-input" type="text" name="nick" th:value="${user.nick}">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="email" class="col-2 col-form-label" th:text="#{label_email}"></label>
                                    <div class="col-7">
                                        <input id="email" class="form-control m-input" type="text" name="email" th:value="${user.email}">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="telephone" class="col-2 col-form-label" th:text="#{label_telephone}"></label>
                                    <div class="col-7">
                                        <input id="telephone" class="form-control m-input" type="text" name="telephone" th:value="${user.telephone}">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="organization" class="col-2 col-form-label" th:text="#{label_organization}"></label>
                                    <div class="col-7">
                                        <input id="organization" class="form-control m-input" type="text" name="organization" th:value="${user.organization}">
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-7">
                                            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" th:text="#{btn_update}">
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane " id="m_user_change_pwd">
                        <form class="m-form m-form--fit m-form--label-align-right" th:action="@{/user/changepwd}" th:method="post">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group m--margin-top-10 m--hide">
                                    <div class="alert m-alert m-alert--default" role="alert">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="oldPwd" class="col-2 col-form-label" th:text="#{label_old_password}"></label>
                                    <div class="col-7">
                                        <input id="oldPwd" class="form-control m-input" type="text" name="oldPwd">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="newPwd" class="col-2 col-form-label" th:text="#{label_new_password}"></label>
                                    <div class="col-7">
                                        <input id="newPwd" class="form-control m-input" type="text" name="newPwd">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="repeatPwd" class="col-2 col-form-label" th:text="#{label_repeat_password}"></label>
                                    <div class="col-7">
                                        <input id="repeatPwd" class="form-control m-input" type="text" name="repeatPwd">
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2"></div>
                                        <div class="col-7">
                                            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" th:text="#{btn_update}">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var tab = [[${tab}]];
        /*]]>*/

        $(document).ready(function () {
            switch (tab) {
                case "userprofile":
                    var tabUserProfile = document.getElementById("tabUserProfile");
                    var tabUserProfileContent = document.getElementById("m_user_profile_tab");
                    tabUserProfile.classList.add("active");
                    tabUserProfileContent.classList.add("active");
                    break;
                case "changepwd":
                    var tabChangePwd = document.getElementById("tabChangePwd");
                    var tabChangePwdContent = document.getElementById("m_user_change_pwd");
                    tabChangePwd.classList.add("active");
                    tabChangePwdContent.classList.add("active");
                    break;
                default:
                    var tabUserProfile = document.getElementById("tabUserProfile");
                    var tabUserProfileContent = document.getElementById("m_user_profile_tab");
                    tabUserProfile.classList.add("active");
                    tabUserProfileContent.classList.add("active");
                    break;
            }
        })
    </script>
</th:block>

</body>

<!-- end::Body -->
</html>
