<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<!-- begin::Head -->
<head>
    <title th:text="#{title_welcome_to_propro}"></title>
    <link th:href="|${url}/assets/css/pagination.css|" rel="stylesheet" type="text/css"/>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body>
<div class="m-content" layout:fragment="content">

    <div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>
    <div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>
    <div class="alert alert-success" role="alert" th:if="${searchResult}" th:text="${searchResult}"></div>

    <div class="m-portlet__body">
        <!--begin: Search Form -->
        <div class="clearfix">
            <form id="searchForm" method="post" role="form"
                  class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed"
                  th:action="@{/peptide/list}">
                <input id="currentPage" type="hidden" class="form-control" name="currentPage">
                <input id="pageSize" type="hidden" th:value="${pageSize}" class="form-control" name="pageSize">

                <div class="form-group m-form__group row">
                    <div class="input-group col-lg-2">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" type="button" th:text="|#{label_library}/#{label_irt_library}|">
                            </button>
                        </div>
                        <select class="form-control m-input" id="libraryId" name="libraryId">
                            <option th:each="library:${libraries}" th:value="${library.id}"
                                    th:text="|${library.name}(${library.id})|"
                                    th:selected="${libraryId}==${library.id}?true:false"></option>
                        </select>
                    </div>
                    <div class="input-group col-lg-2">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" type="button" th:text="#{label_is_unique}">
                            </button>
                        </div>
                        <select class="form-control m-input" id="uniqueFilter" name="uniqueFilter">
                            <option th:text="Yes" th:selected="${uniqueFilter}=='Yes'?true:false"></option>
                            <option th:text="No" th:selected="${uniqueFilter}=='No'?true:false"></option>
                            <option th:text="All" th:selected="${uniqueFilter}=='All'?true:false"></option>
                        </select>
                    </div>
                    <div class="input-group col-lg-2">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" type="button" th:text="#{label_protein_name}">
                            </button>
                        </div>
                        <input type="text" class="form-control m-input" name="proteinName"
                               placeholder="proteinName" th:value="${proteinName}">
                    </div>
                    <div class="input-group col-lg-2">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" type="button" th:text="|#{label_sequence}(#{label_no_unimod})|">
                            </button>
                        </div>
                        <input type="text" class="form-control m-input" name="sequence"
                               th:placeholder="#{label_support_fuzzy_search}" th:value="${sequence}">
                    </div>
                    <div class="input-group col-lg-2">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" type="button">
                                peptideRef:
                            </button>
                        </div>
                        <input type="text" class="form-control m-input" name="peptideRef"
                               placeholder="peptideRef" th:value="${peptideRef}">
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="submit" th:text="#{btn_search}">
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--end: Search Form -->
        <!--begin: Datatable -->
        <div>
            <table class="table table-bordered table-hover" style="table-layout:fixed;">
                <thead>
                <tr>
                    <th width="2%">No.</th>
                    <th width="5%" th:text="#{label_library_name}"></th>
                    <th width="10%" th:text="#{label_protein_name}"></th>
                    <th width="13%">PeptideRef</th>
                    <th width="5%" th:text="#{label_peptide_mz}"></th>
                    <th width="5%">RT</th>
                    <th width="10%" th:text="#{label_peptide_sequence}"></th>
                    <th width="10%" th:text="#{label_decoy}"></th>
                    <th width="35%" th:text="#{label_fragment}"></th>
                    <th width="5%" th:text="#{label_operation}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="peptide,status:${peptideList}">
                    <td th:text="${status.index+1}"></td>
                    <td>
                        <a th:href="@{/library/detail/{id}(id=${peptide.libraryId})}"
                           th:text="${libraryName}"></a>
                    </td>
                    <td th:text="${peptide.proteinName}"></td>
                    <td th:text="${peptide.peptideRef}"></td>
                    <td th:text="${peptide.mz}"></td>
                    <td th:text="${peptide.rt}"></td>
                    <td th:text="${peptide.sequence}"></td>
                    <td th:text="${peptide.decoySequence}"></td>
                    <td>
                        <table class="table table-bordered table-hover" style="table-layout:fixed;background-color: whitesmoke;text-align: center;border: 1px; border-color: black;">
                            <thead>
                            <tr>
                                <th width="20%">CutInfo</th>
                                <th width="20%" th:text="#{label_fragment_mz}"></th>
                                <th width="20%" th:text="#{label_fragment_intensity}"></th>
                                <th width="10%" th:text="#{label_charge}"></th>
                                <th width="30%">Annotations</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="fragment:${peptide.fragmentMap.values()}">
                                    <td th:text="${fragment.cutInfo}"></td>
                                    <td th:text="${fragment.mz}"></td>
                                    <td th:text="${fragment.intensity}"></td>
                                    <td th:text="${fragment.charge}"></td>
                                    <td th:text="${fragment.annotations}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <a th:href="@{/peptide/detail/{id}(id=${peptide.id})}"
                           class="btn btn-success btn-sm">详情
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p id="pagination"></p>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="|${url}/assets/js/jquery-bootpag/jquery.bootpag.js|" type="text/javascript"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var totalPage = [[${totalPage}]];
        var currentPage = [[${currentPage}]];
        /*]]>*/

        $(document).ready(function () {
            $('#pagination').bootpag({
                paginationClass: 'pagination',
                next: '<i class="fa fa-angle-right"></i>',
                prev: '<i class="fa fa-angle-left"></i>',
                total: totalPage,
                page: currentPage,
                maxVisible: 20
            }).on("page", function (event, num) {
                document.getElementById("currentPage").value = num;
                document.getElementById("searchForm").submit();
            });
        })
    </script>
</th:block>

</body>

<!-- end::Body -->
</html>
