<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">
<!-- begin::Head -->
<head>
    <title>
        欢迎登陆西湖大学PECS分析平台
    </title>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body>
<div class="m-content" layout:fragment="content">

    <div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>
    <div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>

    <div class="row">
        <div class="col-md-8">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide"><i class="la la-gear"></i></span>
                            <h3 class="m-portlet__head-text">全局环境配置(Global Environment Config)</h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" th:action="@{/config/update}"
                      th:method="post">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group m--margin-top-10">
                            <div class="alert m-alert m-alert--default" role="alert">
                                请谨慎配置网站的全局环境配置
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="airdFilePath" class="col-3 col-form-label">
                                Aird实验文件存储路径
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="airdFilePath"
                                       placeholder="Enter Aird Experiment File Path" name="airdFilePath"
                                       th:value="${config?.airdFilePath}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="aircFilePath" class="col-3 col-form-label">
                                Airc卷积文件存储路径
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="aircFilePath"
                                       placeholder="Enter Airc Convolution File Path" name="aircFilePath"
                                       th:value="${config?.aircFilePath}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="libraryFilePath" class="col-3 col-form-label">
                                标准库/iRT校准库文件存储路径(TSV,CSV,TraML)
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="libraryFilePath"
                                       placeholder="Enter Library File Path" name="libraryFilePath"
                                       th:value="${config?.libraryFilePath}">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="mzxmlFilePath" class="col-3 col-form-label">
                                MzXML实验数据存储位置
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="mzxmlFilePath"
                                       placeholder="Enter mzXML Experiment File Path" name="mzxmlFilePath"
                                       th:value="${config?.mzxmlFilePath}">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="exportScoresFilePath" class="col-3 col-form-label">
                                子分数文件导出位置(支持PyProphet)
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="exportScoresFilePath"
                                       placeholder="Enter Export Scores File Path" name="exportScoresFilePath" th:value="${config?.exportScoresFilePath}">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="prefixForAirdFile" class="col-3 col-form-label">
                                卷积前的原始文件前缀-Aird
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="prefixForAirdFile"
                                       placeholder="Enter Suffix For Aird File" name="prefixForAirdFile"
                                       th:value="${config?.prefixForAirdFile}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="prefixForAircFile" class="col-3 col-form-label">
                                卷积后的文件前缀-Airc
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="prefixForAircFile"
                                       placeholder="Enter Suffix For Airc File" name="prefixForAircFile"
                                       th:value="${config?.prefixForAircFile}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="lastModifiedDate" class="col-3 col-form-label">
                                最后修改时间
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="lastModifiedDate" readonly
                                       name="lastModifiedDate"
                                       th:value="${#dates.format(config?.lastModifiedDate,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="createDate" class="col-3 col-form-label">
                                创建时间
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="createDate" readonly
                                       name="createDate"
                                       th:value="${#dates.format(config?.createDate,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="submit" class="btn btn-primary">
                                更新
                            </button>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>

</div>
</body>
<!-- end::Body -->
</html>
