<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{layouts/layout}">
<!-- begin::Head -->
<head>
    <title th:text="#{title_welcome_to_propro}"></title>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body>
<div class="m-content" layout:fragment="content">

    <div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>
    <div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>

    <div class="row">
        <div class="col-md-8">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide"><i class="la la-gear"></i></span>
                            <h3 class="m-portlet__head-text" th:text="#{label_global_env_config}"></h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" th:action="@{/config/update}"
                      th:method="post">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group m--margin-top-10">
                            <div class="alert m-alert m-alert--default" role="alert">
                                Be careful!
                            </div>
                        </div>
                        <!--<div class="form-group m-form__group row">-->
                            <!--<label for="lastModifiedDate" class="col-3 col-form-label">-->
                                <!--远程仓库地址列表-->
                            <!--</label>-->
                            <!--<div class="col-9">-->
                                <!--<textarea cols="10" rows="10" class="form-control m-input" id="repoUrls" name="repoUrls"-->
                                          <!--th:text="${repoUrls}"></textarea>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group m-form__group row">
                            <label for="lastModifiedDate" class="col-3 col-form-label" th:text="#{label_last_modified_date}"></label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="lastModifiedDate" readonly
                                       name="lastModifiedDate"
                                       th:value="${#dates.format(config?.lastModifiedDate,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="createDate" class="col-3 col-form-label" th:text="#{label_create_date}"></label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="createDate" readonly
                                       name="createDate"
                                       th:value="${#dates.format(config?.createDate,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="submit" class="btn btn-primary" th:text="#{btn_update}"></button>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>

</div>
</body>
<!-- end::Body -->
</html>
