<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layouts/layout">
<!-- begin::Head -->
<head>
    <title>
        欢迎登陆西湖大学PECS分析平台
    </title>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body>

<div class="m-content" layout:fragment="content">
    <!--Begin::Section-->
    <div class="m-portlet ">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-md-12 col-lg-6 col-xl-3">
                    <!--begin::New Users-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h2 class="m-widget24__title">任务(Tasks)</h2>
                            <br>
                            <span class="m-widget24__desc">Running Tasks / Total Tasks</span>
                            <span class="m-widget24__stats m--font-success" th:text="${taskTotalCount}"></span>
                            <span class="m-widget24__stats">/</span>
                            <span class="m-widget24__stats m--font-danger" th:text="${taskRunningCount}"></span>
                            <div class="m--space-10"></div>
                            <div class="m-widget2">
                                <div th:each="task:${tasks}" class="m-widget2__item m-widget2__item--success">
                                    <div class="m-widget2__checkbox"></div>
                                    <div class="m-widget2__desc" th:onclick="|window.location.href='/task/detail/${task.id}'|">
                                        <span class="m-widget2__text" th:text="${task.name}"></span>
                                        <br>
                                        <span class="m-widget2__user-name">
										    <a href="#" class="m-widget2__link" th:text="|${task.creator}-${#dates.format(task.createDate,'yyyy-MM-dd HH:mm:ss')}|"></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::New Users-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-3">
                    <!--begin::Total Profit-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h2 class="m-widget24__title">实验数据(Experiments)</h2>
                            <br>
                            <span class="m-widget24__desc">MzXML or MzXML Format</span>
                            <span class="m-widget24__stats m--font-brand" th:text="${expCount}"></span>
                            <div class="m--space-10"></div>
                            <div class="m-widget2">
                                <div th:each="exp:${exps}" class="m-widget2__item m-widget2__item--warning">
                                    <div class="m-widget2__checkbox"></div>
                                    <div class="m-widget2__desc" th:onclick="|window.location.href='/experiment/detail/${exp.id}'|">
                                        <span class="m-widget2__text" th:text="${exp.name}">
                                        </span>
                                        <br>
                                        <span class="m-widget2__user-name">
										    <a href="#" class="m-widget2__link" th:text="|${exp.creator}-${#dates.format(exp.createDate,'yyyy-MM-dd HH:mm:ss')}|"></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Total Profit-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-3">
                    <!--begin::New Feedbacks-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h2 class="m-widget24__title">标准库(Libraries)</h2>
                            <br>
                            <span class="m-widget24__desc">Include Standard and iRT libraries</span>
                            <span class="m-widget24__stats m--font-info" th:text="${libCount}"></span>
                            <div class="m--space-10"></div>
                            <div class="m-widget2">
                                <div th:each="lib:${libs}" class="m-widget2__item m-widget2__item--info">
                                    <div class="m-widget2__checkbox"></div>
                                    <div class="m-widget2__desc" th:onclick="|window.location.href='/library/detail/${lib.id}'|">
                                        <span class="m-widget2__text" th:text="${lib.name}"></span>
                                        <br>
                                        <span class="m-widget2__user-name">
										    <a href="#" class="m-widget2__link" th:text="|${lib.creator}-${#dates.format(lib.createDate,'yyyy-MM-dd HH:mm:ss')}|"></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::New Feedbacks-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-3">
                    <!--begin::New Orders-->
                    <div class="m-widget24">
                        <div class="m-widget24__item">
                            <h2 class="m-widget24__title">卷积分析(Analyses)</h2>
                            <br>
                            <span class="m-widget24__desc">The convoluted data</span>
                            <span class="m-widget24__stats m--font-danger" th:text="${overviewCount}"></span>
                            <div class="m--space-10"></div>
                            <div class="m-widget2">
                                <div th:each="overview:${overviews}" class="m-widget2__item m-widget2__item--accent">
                                    <div class="m-widget2__checkbox"></div>
                                    <div class="m-widget2__desc" th:onclick="|window.location.href='/analyse/overview/detail/${overview.id}'|">
                                        <span class="m-widget2__text" th:text="${overview.name}"></span>
                                        <br>
                                        <span class="m-widget2__user-name">
										    <a href="#" class="m-widget2__link" th:text="|${overview.creator}-${#dates.format(overview.createDate,'yyyy-MM-dd HH:mm:ss')}|"></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::New Orders-->
                </div>
            </div>
        </div>
    </div>
    <!--End::Section-->

    <div class="row">
        <div class="col-md-6">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide"><i class="la la-gear"></i></span>
                            <h3 class="m-portlet__head-text">全局环境配置(Global Environment Config)</h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right" th:action="@{/config/update}" th:method="post">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group m--margin-top-10">
                            <div class="alert m-alert m-alert--default" role="alert" th:if="${config_error_msg}"></div>
                            <div class="alert m-alert m-alert--default" role="alert" th:if="${config_success_msg}"></div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="airdFilePath" class="col-3 col-form-label">
                                Aird实验文件存储路径
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="airdFilePath"
                                       placeholder="Enter Experiment File Path" name="airdFilePath" th:value="${config?.airdFilePath}">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="libraryFilePath" class="col-3 col-form-label">
                                标准库/iRT校准库文件存储路径(TSV,CSV,TraML)
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="libraryFilePath"
                                       placeholder="Enter Library File Path" name="libraryFilePath" th:value="${config?.libraryFilePath}">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="mzxmlFilePath" class="col-3 col-form-label">
                                MzXML实验数据存储位置
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="mzxmlFilePath"
                                       placeholder="Enter mzXML Experiment File Path" name="mzxmlFilePath"
                                       th:value="${config?.mzxmlFilePath}">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="exportScoresFilePath" class="col-3 col-form-label">
                                子分数文件导出位置(支持PyProphet)
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="exportScoresFilePath"
                                       placeholder="Enter Export Scores File Path" name="exportScoresFilePath" th:value="${config?.exportScoresFilePath}">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="prefixForCompressorFile" class="col-3 col-form-label">
                                Aird压缩后的文件前缀
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="prefixForCompressorFile"
                                       placeholder="Enter Prefix For Compressor File" name="prefixForCompressorFile"
                                       th:value="${config?.prefixForCompressorFile}">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="lastModifiedDate" class="col-3 col-form-label">
                                最后修改时间
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="lastModifiedDate" readonly name="lastModifiedDate" th:value="${#dates.format(config?.lastModifiedDate,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="createDate" class="col-3 col-form-label">
                                创建时间
                            </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input" id="createDate" readonly name="createDate" th:value="${#dates.format(config?.createDate,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <button type="submit" class="btn btn-primary">
                                更新
                            </button>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <!--begin::Page Vendors -->
    <script th:src="@{/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js}" type="text/javascript"></script>
    <!--end::Page Vendors -->
    <!--begin::Page Snippets -->
    <script th:src="@{/assets/app/js/dashboard.js}" type="text/javascript"></script>
    <!--end::Page Snippets -->
</th:block>
</body>
<!-- end::Body -->
</html>
