<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layouts/layout">
<!-- begin::Head -->
<head>
    <title>
        欢迎登陆西湖大学PECS分析平台
    </title>
</head>
<!-- end::Head -->
<!-- end::Body -->
<body>

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                伪肽段生成与管理
            </h3>
        </div>
    </div>
</div>

<div class="m-content" layout:fragment="content">

    <div class="alert alert-danger" role="alert" th:if="${error_msg}" th:text="${error_msg}"></div>
    <div th:if="${errorList}" th:each="arrayS:${errorList}">
        <div class="alert alert-danger" role="alert" th:text="${arrayS}"></div>
    </div>

    <div class="alert alert-success" role="alert" th:if="${success_msg}" th:text="${success_msg}"></div>
    <div class="row">
        <div class="col-md-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">标准库</h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <label for="libraryId" class="col-2 col-form-label">
                                相关的标准库
                            </label>
                            <div class="col-10">
                                <select class="form-control m-input" id="libraryId" name="libraryId">
                                    <option th:each="library:${libraries}" th:value="${library.id}" th:text="${library.name}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__foot--fit">
                        <div class="m-form__actions">
                            <a th:href="|/library/aggregate/${library?.id}|" class="btn btn-warning">重新计算蛋白质,肽段数目</a>
                            <a th:href="|/decoy/overview/${library?.id}|" class="btn btn-primary">进行伪肽段覆盖率诊断</a>
                            <a th:href="|/decoy/check?id=${library?.id}&isDecoy=true|" class="btn btn-success">检测伪肽段MZ计算误差</a>
                            <a th:href="|/decoy/check?id=${library?.id}&isDecoy=false|" class="btn btn-info">检测真实肽段MZ计算误差</a>
                            <a th:href="|/decoy/generate?id=${library?.id}|" class="btn btn-success">生成伪肽段</a>
                        </div>
                    </div>
                </form>
                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>

</div>


</body>

<!-- end::Body -->
</html>
